body {
	background-color: 554944
}

#Tactics {
	background-height: 700px;
	background-width: 1000px;
	

}background-color: 343829;

#calavlry {
	background-image: 


}
#basic {
	font-size: 22px
}

#Tactics {
	font-size: 35px

}
#Artillery {
	background-image: 

}