body {
	background-color: 554944
}

#Tactics {
	background-height: 700px;
	background-width: 1000px;
	

}

#calavlry2 {
	background-width: 100px;
	background-height: 100px;


}
#basic {
	font-size: 22px
}

#Tactics {
	font-size: 35px

}
#Artillery {
	background-image: 

}
#intro {
	font-size: 28px
	





}