body {
	background-color: 554944
}

#title {
	background-height: 700px;
	background-width: 1000px;
	font-size: 35px
	

}

#calavlry2 {
	background-width: 100px;
	background-height: 100px;


}


.tactics {
	font-size: 28px

}
#Artillery {
	background-image: 

}
#intro {
	font-size: 28px



}
.gettysburg {
	font-size: 28px






}